<div class="form-item--task" @onclick="HandleTaskItemSelection">
    <span>@TaskItem.SubjectID</span>
    <span>@TaskItem.SubjectName</span>
    <span>@TaskItem.TaskItemTitle</span>
    <span>@(TaskItem is Assignment ? ((Assignment)TaskItem).Percentage.ToString() : "0")</span>
    <span>@TaskItem.Date</span>
</div>
@code {
    [Parameter]
    public EventCallback<TaskItem> OnTaskItemSelection { get; set; }
    [Parameter]
    public required TaskItem TaskItem { get; set; }

    private async Task HandleTaskItemSelection()
    {
        await OnTaskItemSelection.InvokeAsync(TaskItem);
    }
}
